.DS_Store
mega_snake/**/__pycache__
tests/**/__pycache__
mega_snake/lib
mega_snake/bin
mega_snake/include
pyvenv.cfg
poetry.lock
.gradle
build/
.vscode
coverage_html
.coverage
report.html
assets/
**/__pycache__
src/tests/util/test_props.py
workspace_temp